<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sqlpilot.backend.mapper.SqlOptimizationHistoryMapper">
    <insert id="insert" parameterType="com.sqlpilot.backend.entity.SqlOptimizationHistory" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sql_optimization_history (original_sql, optimized_sql, optimization_level, include_index_suggestion, optimization_suggestions, problems, estimated_improvement, execution_time, source, created_at)
        VALUES (#{originalSql}, #{optimizedSql}, #{optimizationLevel}, #{includeIndexSuggestion}, #{optimizationSuggestions}, #{problems}, #{estimatedImprovement}, #{executionTime}, #{source}, NOW())
    </insert>
    <select id="selectById" parameterType="java.lang.Long" resultType="com.sqlpilot.backend.entity.SqlOptimizationHistory">
        SELECT * FROM sql_optimization_history WHERE id = #{id}
    </select>
    <select id="selectPage" resultType="com.sqlpilot.backend.entity.SqlOptimizationHistory">
        SELECT * FROM sql_optimization_history ORDER BY created_at DESC LIMIT #{offset}, #{size}
    </select>
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM sql_optimization_history
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM sql_optimization_history WHERE id = #{id}
    </delete>
</mapper>